body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}

header {
  background-color: #11730B;
  color: white;
  padding: 15px 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.menu li a:hover, .menu li a.active {
  color: #001842;
}

.contenido {
  display: none;
  padding: 20px;
}

.contenido.visible {
  display: block;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
}

.galeria img {
  width: 80%;
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}

.galeria img:hover {
  transform: rotate(45deg);
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

video {
  width: 600px;
  border-radius: 10px;
}

footer {
  background-color: #0077b6;
  color: white;
  padding: 10px;
  margin-top: 20px;

}

.formulario{
  max-width: 400px;
  margin: 0;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
  text-align: left;
}

  .formulario label{
    display: block;
    margin-top: 5px;
    font-weight: 600;
  }

  .formulario input{
    width: 100%
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.formulario button: hover{
  background-color: #00b4d8
}

footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 10px;
}

.tarjeta {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba (0, 0, 0, 0, 1);
width: 250px;
text-align: center;
padding: 15px;
}

.boton {
  display: inline-block;;
  background-color: #076321;
  color: white;
  padding: 8px 15px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 10px;
  align-self: center;
  font-size: 20px;
}